/.obsidian/workspace.json
/.obsidian/workspace-mobile.json
/.obsidian/plugins/recent-files-obsidian/data.json
/.obsidian/plugins/recent-files-obsidian/manifest.json
/.obsidian/plugins/obsidian-kindle-plugin/data.json
/.obsidian/plugins/remember-cursor-position/cursor-positions.json
/.trash/
.DS_Store